body{
    padding: 0;
    margin: 0;
    background-color:#E5E5E5;
}
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    padding: 0 32px 0 32px;
    box-sizing: border-box;
}
.contain{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contain__main{
    display: flex;
    width: 100%;
}
.contain__product{
    width: 74.7%;
    display: flex;
    flex-direction: column;
}
.contain__cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
}
.contain__cards div:nth-child(3n){
    margin-right: 0;
}

.title{
    margin-top: 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #3F3F3F;
    margin-bottom: 16px;
}
.form{
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 24px;
    max-width: 332px;
    height: 440px;
    box-sizing: border-box;
    margin-right: 16px;
    &__text{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: -0.02em;
        color: #49485E;
        margin-bottom: 4px;
        margin-top: 0;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        &--important::after{
            content: '';
            display: inline-block;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background: #FF8484;
            position: absolute;
            top:0;
        }
    }
    &__input{
        padding: 10px 16px 11px 16px ;
        border: none;
        width: 100%;
        box-sizing: border-box;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
        height: 36px;
        background: #FFFEFB;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-bottom: 16px;
    }
    &__btn{
        background: #EEEEEE;
        border-radius: 10px;
        border: none;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 11px 0;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: #B4B4B4;
    }
}
.form__btn:hover{
    background: #7BAE73;
    color: #FFFFFF;
}
.form :nth-child(4){
    min-height: 108px;
    padding-bottom: 83px;
    
}

.dropdown{
    width: 121.5px;
    height: 36px;
    margin-top: 31px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #B4B4B4;
    border: none;
    padding: 0 27px 0 16px;
    align-self: end;
    margin-bottom: 16px;
    appearance: none;
    background: url(/img/select.svg) no-repeat right #FFFEFB;
    background-position-x: 99px ;
    background-position-y: 14px ;
}

.card{
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    width: 32.2%;
    position: relative;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px;
    
    &__content{
        font-family: Source Sans Pro;
        font-style: normal;
        color: #3F3F3F;
        margin: 16px 16px 24px 16px;
        box-sizing: border-box;
    }
    &__title{
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }
    &__desc{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
    &__price{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-top: 32px;
    }
    &__delete{
        background: #FF8484;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px; 
        width: 32px;
        height: 32px;
        position: absolute;
        left: 92.7%;
        top:-8px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        box-sizing: border-box;
        display: none;
        content: url(/img/delete.svg);
    }
}
.img__contain{
    width: 100%;
    height: 200px;
}
.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card:hover .card__delete{
        display: block;
}
@media  (max-width: 370px){
    .contain__main{
        flex-direction: column;
    }
    .form{
        margin-bottom: 16px;
    }
    .contain__product{
        width: 100%;
    }
    .contain__cards{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .card{
        width: 90%;
    }
}